/* Estilos para la página */
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #1919193b;
    font-family: "Kanit", sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 0.4rem;
}

#actividadesTableContainer {
    max-width:100%;
    margin: 0 auto;
    font-size: 20px;
}
#actividadesTable {
    width: 100%;
    border-collapse: collapse;
}

#actividadesTable th, #actividadesTable td {
    padding: 12px;
    border: 1px solid #142834;
    text-align: center;
}

#actividadesTable  th {
    background-color: #142834;
    font-weight: bold;
    color:white;
    text-align: center;
    font-size: 18px;
}

#actividadesTable tr {
    background-color: #f2f2f29b;
    font-size: 18px;
}
#actividadesTable tr:hover {
    background-color: #cacaca;
}

.descargar{
    text-align: center;
}
#btnDescargar{
    margin: 0 auto;
    border-radius: 7px;
    border-color: transparent;
    background-color: rgb(129, 209, 9);
    color:#101010;
    font-weight: bold;
    font-style: normal;
    margin-top:1.5rem;
    margin-bottom: 1rem;
    width: auto;
    height: 2rem;
    font-size:1.2rem;
}
#btnDescargar:hover{
    background-color:rgb(81, 128, 11);
    color:white;
}

.bx{
    color:rgb(201, 195, 11);
}

/* Estilos para los mensajes */
#mensajeError, #mensajeAct {
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    color: #1d0d0d;
    font-size: 16px;
    font-weight: bold;
}


/* Iconos dentro de los mensajes */
#mensajeError i, #mensajeAct i {
    margin-right: 10px;
}

/* Estilo para la etiqueta del select */
.filter-container {
    display: flex;
    flex-wrap: column; /* Permite que los elementos se envuelvan en filas si es necesario */
    gap: 5px; /* Espacio entre los elementos */
    align-items: center; /* Centra el contenido horizontalmente */
    width: 100%; /* Ocupa todo el ancho disponible */
    max-width: 800px; /* Ancho máximo para mantener los elementos centrados */
    margin: 0 auto; 
    padding-left: 100px;
}

/* Estilos para el contenedor de cada filtro */
.filter-item {
    display: flex;
    flex-direction:column;
    align-items:flex-start; /* Alinea el contenido al principio del contenedor */
    width: 100%; /* Ocupa todo el ancho disponible en pantallas pequeñas */
}

label[for="tema"], label[for="nombreCompleto"] {
    font-size: 16px;
    margin-right: 1rem;
    margin-left: 1rem;
    color: #333; /* Color del texto */
}

/* Estilo para el select */
#tema, #nombreCompleto{
    padding: 10px;
    font-size: 13px;
    border: 2px solid #4d5152; /* Color de borde azul */
    border-radius: 5px;
    color: black; /* Color del texto */
    margin: 10px 0;
    width: 200px; /* Ajusta el ancho según tus necesidades */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra para efecto de profundidad */
}

/* Estilo para las opciones del select */
#tema option, #nombreCompleto option {
    padding: 10px;
    color: black;

}

/* Estilo para el select en estado activo */
#tema:focus , #nombreCompleto:focus {
    border-color: #0056b3; /* Color de borde azul más oscuro cuando está en foco */
    outline: none; /* Quitar el contorno por defecto */
}
.sal {
    position: relative;
    margin-left: 1.5rem;
    bottom: 10px; /* Ajusta la distancia desde el borde inferior */
    left: 10px; /* Ajusta la distancia desde el borde izquierdo */
    background-color: #f8f9fa; /* Color de fondo opcional para mayor visibilidad */
    padding: 10px; /* Espaciado interno opcional */
    border-radius: 5px; /* Bordes redondeados opcionales */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra opcional */
    width: 150px;
}
.sal a{
    font-family: "Rubik", sans-serif;
    text-decoration: none;
    color:#575050;
    font-size: 1rem;
    font-weight:bold;
}
.sal i{
    color:rgb(87, 86, 86);
}
/* Estilos para el icono */
.sal i {
    margin-right: 5px; 
}
@media screen and (max-width: 800px) { 
    body{
        padding:5px;
    }
    h1{
        text-align: center;
        font-size: 25px;
    }
    .table {
        font-size: 0.8rem; 
    }
    #actividadesTable th,
    #actividadesTable td {
        padding: 4px; 
    }
    #btnDescargar{
        border-radius: 5px;
        margin-top:1.5rem;
        margin-bottom: 1rem;
        font-size:0.8rem;
    }
    .filter-container {
        flex-direction: row; /* Muestra los filtros en una fila */
        justify-content: center; /* Centra el contenido horizontalmente */
        flex-wrap: wrap; /* Permite que los elementos se envuelvan si es necesario */
    }

    .filter-item {
        flex-direction: row; /* Muestra la etiqueta y el select en una fila en pantallas grandes */
        align-items: center; /* Alinea verticalmente en el centro */
        margin-right: 20px; /* Espacio entre los elementos de filtro */
    }

    .filter-item label {
        margin-right: 10px; /* Espacio entre la etiqueta y el select */
    }

    /* Opcional: Asegúrate de que el select y el label no se desborden en pantallas grandes */
    .filter-item select {
        max-width: 200px; /* Ajusta el ancho máximo del select si es necesario */
    }
    .sal{
        margin-top:1rem;
    }
}