@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,500;1,400&family=Kalam:wght@300;700&family=Roboto:wght@100;300&family=The+Nautigal:wght@400;700&family=Trispace:wght@300;400;500&display=swap');
/*ayrami*/
@import url('https://fonts.googleapis.cmaAsom/css2?family=Fira+Sans:ital,wght@0,500;1,400&family=Kalam:wght@300;700&family=Protest+Guerrilla&family=Roboto:wght@100;300&family=The+Nautigal:wght@400;700&family=Trispace:wght@300;400;500&display=swap');


/*estilo de fondo de la pagina principal*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Roboto yoto',sans-serif;
    font-size:1rem ;
    font-weight: normal;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(125deg,
        hsl(21deg 82% 25%) 0%,
        hsl(23deg 53% 38%) 6%,
        hsl(26deg 46% 46%) 13%,
        hsl(27deg 50% 54%) 19%,
        hsl(28deg 63% 60%) 25%,
        hsl(26deg 55% 62%) 31%,
        hsl(24deg 48% 63%) 37%,
        hsl(21deg 39% 64%) 44%,
        hsl(17deg 31% 65%) 50%,
        hsl(16deg 22% 60%) 56%,
        hsl(13deg 14% 54%) 63%,
        hsl(4deg 7% 48%) 69%,
        hsl(260deg 3% 40%) 75%,
        hsl(227deg 6% 42%) 81%,
        hsl(219deg 9% 44%) 87%,
        hsl(216deg 12% 45%) 94%,
        hsl(214deg 14% 47%) 100%
);
    background-attachment: fixed;
    background-size: cover;
    
    color: #f3f3f3;
}

/*diseño para la barra de progreso de registro*/

.containerProg .pasos{
    height: auto;
    margin : 0;
    margin-bottom: 2rem;
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    position: relative;
/*  position: relative;*/
}
.pasos .circle{
    display: flex;
    align-items: center;
    justify-content: center;
    height:60px;
    width: 60px;
    color:#2f1c1ca8;
    font-size: 22px;
    font-weight:bold;
    border-radius:  50%;
    background:#fff;
    border:7px solid #bded12;
    transition: all 200ms ease;
    transition-delay: 0s;
}
.pasos .circle.active{
    transition-delay: 100ms;
    border-color: #162952;
    color: #162952;
}
.pasos .progreso{
    position: absolute;
    height: 6px;
    width: 100%;
    background-color:#e0e0e0;
    z-index: -1;
}

.progreso .indicador{
    position:absolute;
    height: 100%;
    width: 0%;
    background-color:#162952;
    transition:all 300ms ease;
}

/*FORMULARIO DE INICIO DE SESION*/

::placeholder{
    color:#ead9d994;
    font-size: 1rem;
}
/*contenedor general form1 form2,etc*/
.container-form{
    position: relative;
    /*AUMENTO AQUI*/
}
/*registro*/

.formulario-fr1{
    height: auto;
    padding: 1rem;
    border-radius: 1%;
    background-color: rgba(9, 9, 9, 0.707);
    text-align: center;

}
/*ingreso de datos formas de las cajas de texto*/
.formulario-fr1 input{
    width: 40%;
    display: block;
    margin: auto;
    background-color: transparent;
    border-radius: 30px;
    border-color: #f89b1a;
    text-align: center;
    padding: .5rem;
}

.formulario-fr1 input:required:focus{
    outline-color: #eaf218;
}
.formulario-fr1 input:invalid{
    box-shadow: none;
}
/*cambio de color de la caja de texto*/

.formulario-fr1 input[type="text"], .formulario-fr1 input[type="password"], .formulario-fr1 input[type="tel"], .formulario-fr1 input[type="date"], .formulario-fr1 input[type="email"]{
    color:#fffffff5;
}
.ci{
    display: flex;
}
.ci input{
    margin: 10px 25px auto;
}
.ci input[type="date"]{
    color:white;
    font-size:1rem;
    font-weight: 2px;
}
/*sexo f m 05/02*/
.sexo-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.sexo-container input[type="radio"]{
    display: none;
}
.text-s{
    position:relative;
    border: none;
    border-radius: 5px;
    padding:10px 50px;
    display: flex;
    align-items: center;
}
.text-s:before{
    content: "";
    height: 15px;
    width: 15px;
    border:2px solid #f89b1a;
    border-radius: 50%;
    margin-right: 10px;
}
.sexo-container input[type="radio"]:checked + .text-s{
    background-color: #f89b1a;
    color:white;
}
.sexo-container input[type="radio"]:checked + .text-s:before{
    height: 10px;
    width: 10px;
    border:5px solid white;
    background-color: rgba(9, 9, 9, 0.707);
}
/*datos personales nombre ap*/
.datos-personales{
    display: flex;
    margin-top: 20px;
}
.datos-contacto{
    display: flex;
    margin-top: 20px;
}
.direccion{
    margin-top: 25px;
    margin-left: -100px;
    width: 150%;
    align-items: center;
}

.pass{
    display: flex;
    margin-top: 0.8rem;
    align-items: center;
    justify-content: center;
}
.pass i{
    display: inline-block;
    position: relative;
    cursor: pointer;
    color: rgb(252, 176, 11);
    margin-right: 4rem;
}
.pass input{
    margin-left: 5rem;
    width: 60%;
}

h2{
    font-size: 1.2rem;
    font-weight:bold;
}
/*botones de guardar datos y adelante FORMULARIO 1*/

.botonG{
    margin-left: 3rem;
    font-weight: bold;
    position: relative;
    padding: 1rem;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 1rem;
    border: none;
    width: 6rem;
    align-items: center;
    font-size:.9rem;
    cursor:pointer;

    z-index: 2;
    border:none;
    overflow: hidden;
}
/*cambio color*/
.botonG::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff945f0;

    z-index: -2;
    transition: background-color 3s ease;
    opacity: 0;
}

.botonG:hover::after {
    opacity: 1; 
}
/*primer color*/
.botonG::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    left: 0;
    bottom: -150%;
    border-radius: 30%;
    background-color:#ceee15f0;
    z-index: -1;
    transition: bottom 3s ease;
}
.botonG:hover::before{
    animation: guardar 3s linear both;
}
@keyframes guardar {
    0%{
        transform: rotate(0deg);
    }
    100%{
        bottom: 100px;
        transform: rotate(360deg);
        
    }
}
.botonA{
    padding: 1rem;
    font-weight: 400;
    color:white;
    background-color: rgb(11, 32, 60);
    border-radius: 1rem;
    border:none;
    outline: none;
    width: 20%;
    cursor: pointer;
    font-size:.9rem;
    font-weight: bold;
    margin: 2rem;

}

.botonA:hover{
    background-color: rgb(14, 46, 87);
    box-shadow: 0 0 8px  rgb(14, 46, 87);
}

/*FORMULARIO 2*/

.formAsig{
    height: auto;
    width: 500px;
    display: none;
    padding: 1rem;
    border-radius: 1%;
    background-color: rgba(9, 9, 9, 0.707);
    text-align: center;
}

.formAsig input{
    width: 40%;
    display: block;
    margin: auto;
    background-color: transparent;
    border-radius: 30px;
    border-color: #f89b1a;
    text-align: center;
    padding: .5rem;
}

.formAsig input[type="text"]{
    color: white;
}
.datos-aula{
    display: flex;
    margin-top: 10px;
    margin-bottom: 1.5rem;
}

/*datos paralelo*/

.datos-aula input {
    width: 200px; 
    height: 40px
}

.datos-aula label{
    display: column;
    margin: 20px 10px 0 0;
    color: rgba(255, 255, 255, 0.358);
}
/*datos nivel del curso*/

.curso{ 
    
    text-align:left;
    display: flex;
    color: #ffffff;
}
.curso label{
    margin: .8rem;
    display: flex;
    margin-left:3.8rem;
    margin-right: 1.5rem;
}


.cantidad {
    margin-top: .5rem;
    text-align:left;
    display: flex;
    color: #ffffff;
}

.cantidad label{
    margin-left: 3.8rem;
    margin-right: 1.5rem;
    margin-top: .5rem;
}
.cantidad input{
    height:30px;
    display: flex;
    margin-left:-10px;
    position: relative;
    width: 5rem;
    border-radius: 10px;
}
.cantidad input[type=number]{
    color: #ffffff;
}
.turno {
    margin-top: .5rem;
    margin-left: 1.9rem;
    text-align:left;
    display: column;
    color: #ffffff;
}

.turno label{
    margin-right: 1.5rem;
}
.paralelo label{
    margin-right:1.5rem;
}

.paralelo{
    margin-top: .5rem;
    margin-left: 1.9rem;
    text-align:left;
    display: column;
    color: #ffffff;
}
.select-cont{
    display:inline-block;
    position: relative;
    width:60px;
    height: 35px;
    /* arriba, izquierda derecha, abajo */
    margin: .4rem 50px .5rem 0;
    
    justify-content: center;
}
.select-cont select {
    height: 100%;
    width: 230%;
    font-size: .9rem;
    appearance: none;
    padding: 0 30px 0 10px;
    color: rgba(255, 255, 255, 0.816);
    border-color: #fbc500ce;
    border-radius:8px;
    background-color: transparent;
}
.select-cont option{
    background-color:rgba(230, 254, 182, 0.814);
    color: #343b4a;
    font-size: .9rem;
}
.sel-lab label{ 
    color:#ebf7f6;
}
.select-icon{
    position: absolute;
    right: -60px;
    top:50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
}

.select-icon i{
    font-size:20px;
    color: #fec700e6;
}
/*DOCENTES LISTA*/
/*select docente datos*/
.listDocente i{
    color: #e8bf07;
    font-weight: bold;
}
#docente {
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 7px;
    background-color: #ffffffc5; 
    color: #163871f7; 
    font-size: .9rem;
    font-weight: bold;
    cursor: pointer;
}
/* Estilos para las opciones del select */
#docente option {
    background-color: #ffffffc5; /* Color de fondo */
    color: #0363f2; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
}

/*boton de volver atras 1*/
.boton1 {
        margin-top: 5rem;
        padding: 1rem;
        font-weight: 400;
        background-color: #ee5d47;
        border-radius: 1rem;
        border:none;
        outline: none;
        width: 20%;
        cursor: pointer;
        font-size:.9rem;
        font-weight: bold;
        color:rgb(255, 255, 255);
        margin-left: 2rem;
    
}
.boton1:hover ,.boton2:hover{
    background-color:#ee5d47;
    box-shadow: 0 0 8px #fc725d;
}
/*botnes formulario 2 margin top*/
.botones2 button{
    margin-top:.8rem;
}
/*FORMULARIO 3*/
.form3{
    height: auto;
    width: 500px;
    display: none;
    padding: 1rem;
    border-radius: 1%;
    background-color: rgba(9, 9, 9, 0.707);
    text-align: center;
}

/*boton iniciar sesion*/
.botonI{
    width: 100%;
    margin: auto;
    border:solid thin white;
    padding: .7rem;
    border-radius:1rem;
    border-color: transparent;
    background-color: #7eff14;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
    color: #1c1c1c;
    text-decoration-line: none;
}
.botonI:hover{
    background-color: #83f327;
    box-shadow: 0 0 10px 0 #98ff43;

}
.message p{
    font-size: 1.5rem;
    padding: 1rem 0;
    color:white;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.boton2{
    margin-top: 5rem;
    margin-left:-20rem;
    padding: 1rem;
    font-weight: 400;
    background-color: #ee5d47;
    border-radius: 1rem;
    border:none;
    outline: none;
    width: 20%;
    cursor: pointer;
    font-size:.9rem;
    font-weight: bold;
    color:rgb(255, 255, 255);
}
/*salir de la pagina de registro*/
.volver{
    display: block;
    justify-content: center;
    background-color:rgb(183, 22, 8);
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 8px;
}
.volver1{
    text-align: center;
    text-decoration: none;
    display: block;
    color:rgb(255, 255, 255);
    font-size: 1rem;
    font-family: "Trispace", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: bold;
}

@media screen and (max-width: 768px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family:'Roboto yoto',sans-serif;
        font-size:0.8rem ;
        font-weight: normal;
    }
    .container-form{
        margin-left: 0rem;
    }
    .pasos .circle{
        height:45px;
        width: 45px;
    }
    .formAsig{
        height: auto;
        width: 350px;
        display: none;
        padding: 0.7rem;
        border-radius: 1%;
        background-color: rgba(9, 9, 9, 0.707);
        text-align: center;
    }
    .datos-aula{
        display: block;
        margin-top: 10px;
        justify-content: left;
    }
    
    .maAs{
        margin-top: 0.9rem;
    }
    h2{
        font-size: 0.9rem;
        font-weight:bold;
    }
    .form3{
        width: auto;
    }

    .boton2{
        margin-top: 5rem;
        margin-left:-15rem;
        padding: 1rem;
    }
    
}