@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
.contenido {
    position: relative; /* Posición relativa para el contenedor */
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    z-index: 900;
}
.contenido div {
    display: inline-block; 
    margin: 10px; 
    text-align: center; 
}

.contenido img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; /* Centrar horizontalmente la imagen dentro de su contenedor */
}
.contenido a {
    font-size: 16px; 
    display: block; 
}

:root{
    --link-color: rgb(238, 241, 249);
    --link-font-family: "Fredoka", sans-serif;
    --link-font-size: 1.5rem;
    --link-font-weight: bold;
    --link-font-style: normal;

}
.vocales{
    border-radius: 5px;
    border:8px solid rgb(40, 59, 103);
    background-color: rgb(40, 59, 103);
}
.vocales a, .abc a, .color a, .familia a, .saludo a, .pronombres a, .objetos a{
    text-decoration: none;
    color:var(--link-color);
    font-family: var(--link-font-family);
    font-optical-sizing: auto;
    font-weight: var(--link-font-weight); 
    font-style: var(--link-font-style);
    font-size: var(--link-font-size);
    
}
.vocales:hover{
    border-color:rgb(55, 83, 149);
    background-color: rgb(55, 83, 149);
    box-shadow: 0 0 8px rgb(55, 83, 149);
}
li{
    list-style-type: none;
}
.vocales li a , .abc li a, .color li a, .familia li a, .saludo li a, .pronombres li a, .objetos li a{
    padding-top: 0.1rem;
    text-align: left;
    margin-left: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}
.vocales li a{
    color: #ffffff; 
}
li:hover {
    color:rgb(41, 59, 53);
    background-color: #7d7d7d;
}
.abc{
    border-radius:5px;
    border:8px solid rgb(251, 155, 12);
    background-color:rgb(251, 155, 12);
}
.abc:hover{
    border-color:rgb(255, 168, 37);
    background-color: rgb(255, 168, 37);
    box-shadow: 0 0 8px rgb(255, 168, 37);
}
.abc li a{
    color:#ffffff;
}
.color{
    border-radius:5px;
    border:8px solid rgb(231, 46, 89);
    background-color:rgb(231, 46, 89);
}
.color:hover{
    border-color:rgb(235, 78, 115);
    background-color: rgb(235, 78, 115);
    box-shadow: 0 0 8px rgb(235, 78, 115);
}
.color img{
    height:200px;
}
.familia{
    border-radius:5px;
    border:8px solid rgb(60, 39, 6);
    background-color:rgb(60, 39, 6);
}
.familia:hover{
    border-color:rgb(84, 61, 22);
    background-color: rgb(84, 61, 22);
    box-shadow: 0 0 8px rgb(84, 61, 22);
}
.saludo{
    border-radius:5px;
    border:8px solid rgb(60, 6, 18);
    background-color:rgb(60, 6, 18);
}

.saludo:hover{
    border-color:rgb(79, 20, 33);
    background-color: rgb(79, 20, 33);
    box-shadow: 0 0 8px rgb(79, 20, 33);
}
.pronombres{
    border-radius:5px;
    border:8px solid rgb(53, 12, 78);
    background-color:rgb(53, 12, 78);
}
.pronombres:hover{
    border-color:rgb(84, 26, 119);
    background-color: rgb(84, 26, 119);
    box-shadow: 0 0 8px rgb(84, 26, 119);
}
.objetos{
    border-radius:5px;
    border:8px solid rgb(4, 77, 81);
    background-color:rgb(4, 77, 81);
}
.objetos:hover{
    border-color:rgb(22, 124, 129);
    background-color: rgb(22, 124, 129);
    box-shadow: 0 0 8px rgb(22, 124, 129);
}

.game a{
    font-size: 1rem;
    color:#bad10a;
}
.game a:hover{
    color:black;
}


@media (max-width: 768px) {
    /* Estilos para tabletas y dispositivos de escritorio */
    .contenido {
        display: flex; 
        justify-content: space-around;
    }
    .contenido div {
        flex: 1;
    }
    li a{
        font-size: 1rem;
    }
}
