@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
.contenido {
    position: relative; /* Posición relativa para el contenedor */
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    z-index: 900;
}

.contenido div {
    display: inline-block; 
    margin: 10px; 
    text-align: center; 
}

.contenido img {
    max-width: 100%; 
    height: auto; 
    display: block; 
    margin: 0 auto; /* Centrar horizontalmente la imagen dentro de su contenedor */
}
.contenido a {
    font-size: 16px; 
    display: block; 
}

:root{
    --link-color: rgb(238, 241, 249);
    --link-font-family: "Fredoka", sans-serif;
    --link-font-size: 1.5rem;
    --link-font-weight: bold;
    --link-font-style: normal;
}

.conver a, .pers a, .moth a, .conectores a, .inter a, .feel a{
    text-decoration: none;
    color:var(--link-color);
    font-family: var(--link-font-family);
    font-optical-sizing: auto;
    font-weight: var(--link-font-weight); 
    font-style: var(--link-font-style);
    font-size: var(--link-font-size);
}

.conver{
    border-radius: 5px;
    border:8px solid #004b26;
    background-color: #004b26;
}

.conver:hover{
    border-color:#0f904f;
    background-color: #0f904f;
    box-shadow: 0 0 8px #0f904f;
}

.pers{
    border-radius: 5px;
    border:8px solid #0b0347;
    background-color: #0b0347;
}

.pers:hover{
    border-color:#2a1aa3;
    background-color: #2a1aa3;
    box-shadow: 0 0 8px #2a1aa3;
}

.moth{
    border-radius: 5px;
    border:8px solid #ea8901;
    background-color: #ea8901;
}

.moth:hover{
    border-color:#f6ad47;
    background-color: #f6ad47;
    box-shadow: 0 0 8px #f6ad47;
}

.conectores{
    border-radius: 5px;
    border:8px solid #ef4a0e;
    background-color: #ef4a0e;
}

.conectores:hover{
    border-color:#e8835e;
    background-color: #e8835e;
    box-shadow: 0 0 8px #e8835e;
}

.inter{
    border-radius: 5px;
    border:8px solid #04243a;
    background-color: #04243a;
}

.inter:hover{
    border-color:#346c92;
    background-color: #346c92;
    box-shadow: 0 0 8px #346c92;
}

.feel{
    border-radius: 5px;
    border:8px solid #5f066b;
    background-color: #5f066b;
}

.feel:hover{
    border-color:#9d20ad;
    background-color: #9d20ad;
    box-shadow: 0 0 8px #9d20ad;
}
